body {
    background-color: #22313F;
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family:'Bebas Neue';
   font-size: 48px;
   color: white;

}

h2 {
    font-family: 'Bebas Neue';
    margin-top: 20px;

}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    font-family:'Roboto Mono', monospace;
    color: white;

}

ul {
    list-style: none;
padding: 0;
margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 15px;
}

img {
    max-width: 150px;
}

label {
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.search-bar {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    background-color: aliceblue;
    padding: 20px 0px 20px 70px;
    margin: 0, auto;
    max-width: 650px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);

}


.all-cities-button {
    background-color: #546D8A;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
  color: black;
  margin-left: 20px;
  margin-top: 20px;
}

.all-cities-button:hover {

    text-decoration: none;
    color: white;

}

.date-time {
    display: inline;
    flex-direction: row;
    align-items: center;
}